/* CSS for weather application */

#main
	{

		background: url(back1.jpg) no-repeat bottom right;
  		background-size: cover;
  		text-align: center;
  		height: 450px;
  	}
  	#homepage
  	{
  		font-family: Constantia;

  	}

  	#citypage
  	{
  		font-family: Constantia;
  	}

  	.li {
     	background: #fff;
  		background: rgba(255,255,255,0.90);
  		padding: 15px;
  		display: inline-block;
  		border-radius: 5px;
  		margin:5px;
		}

	.sidebar
	{
		position: absolute;
		
		width: 170px;
		height: 37%;
		background: #333;
		color: #fff;
		font-family: 'Poiret One', cursive;
		outline: 1px solid #2a2a2a;
		visibility: hidden;
	}

	.sidebar h2
	{
		text-align: center;
		margin: 0;
		padding: 10px;
		background: #2a2a2a;
	}

	.sidebar ul
	{
		list-style: none;
		padding: 0;
		margin: 0;
	}

	.sidebar li
	{
		outline: 1px solid #2a2a2a;
		transition-property: all;
	}

	.sidebar li:hover
	{
		background: #444;
		border-left: 5px solid #eee;
	}

	.sidebar a
	{
		display: block;
		text-decoration: none;
		padding: 10px;
	}

	.menuicon
	{
		width: 100%;
		height: 100%;
		position: absolute;
		padding: 5px;
		transition: all 0.3s;
	}

	.menu-bar
	{
		cursor: pointer;
	}

	.slider
	{
		transform: translateX(130px);

	}

	#container
	{
		text-align: center;
		margin-left: 100px;
		margin-right: 50px;
	}

	#fcontainer
	{
		text-align: left;
		margin-left: 100px;
		margin-right: 50px;
	}

	#ccontainer
	{
		text-align: left;
		margin-left: 100px;
		margin-right: 50px;
	}

	#show
	{
		margin-left: 50px;
	}

	#cityweathericon
	{
		margin-left: 50px;
	}
	h5
	{
		display: inline-block;
		margin-left: 8%;
		margin-top: 0px;
	}
	.images
	{
		margin-top: -15px;
		float: left;
		margin-left: 30%;
	}
	table
	{
		color:white;
		
		overflow: scroll;

	}
	table,tr
	{
		padding:-5%;
	}
	#submitfWeather
	{
		-right: 100%;
	}
	#myChart
	{
		margin-top: 11%;
	}